body {
    background: linear-gradient(135deg, #f9e6b1, #ffd59e, #ffb878);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


.header img {
    width: 100%;
    height: auto;
}


.top-bar {
    background: rgba(255, 193, 79, 0.85);
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    font-family: yay;
}
@font-face {
    font-family: yay;
    src: url(Happy\ School.ttf);
}
.back-btn {
    color: #7a4a00;
    font-weight: bold;
    text-decoration: none;
    background: #fff0c2;
    padding: 10px 18px;
    border-radius: 10px;
    border: 2px solid #ffbd59;
    transition: 0.3s;
}

.back-btn:hover {
    background: #ffe6a1;
    width: 1400px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    margin: 35px auto;
    width: 85%;
    border-radius: 25px;
    background: linear-gradient(135deg, #fff6d8, #ffe0ae);
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    gap: 30px;
}


.section.reverse {
    flex-direction: row-reverse;
    background: linear-gradient(135deg, #ffeac5, #ffd9a1);
}


.text-box {
    width: 55%;
    color: #5e3a00;
    font-size: 17px;
    line-height: 1.75;
    text-align: justify;
}

.text-box h2 {
    color: #c46a00;
    font-size: 30px;
    margin-bottom: 15px;
    font-family: loopy;
}

@font-face {
    font-family: loopy;
    src: url(Find\ Cartoon.otf);
}

.img-container {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  justify-content: center;
}

.img-cool {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  justify-content: center;
}

.img-box img {
  width:100%;
  border-radius: 10px;
border: 4px solid #ffbb4f;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

.img-wow img {
  width:500px;
  height: 500px;
  border-radius: 10px;
border: 4px solid #ffbb4f;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}



@media (max-width: 900px) {
    .section,
    .section.reverse {
        flex-direction: column;
        text-align: center;
    }

    .text-box, .img-box {
        width: 100%;
    }

    .img-box img {
        max-width: 80%;
    }
}
